<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOSHV8k3_01AFOWU3NUlLpgEumgugnskE</string>
	<key>GCM_SENDER_ID</key>
	<string>847120922286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.project-portal.app</string>
	<key>PROJECT_ID</key>
	<string>project-portal-5da79</string>
	<key>STORAGE_BUCKET</key>
	<string>project-portal-5da79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847120922286:ios:88e59b1daec2b585d05f3f</string>
</dict>
</plist>